.hero-logo {
    display: flex;
    width: 9vw;
    height: 17vh;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
}

.h-logo {
    display: flex;
    border-radius: 50%;
    border: 2px solid black;
    width: 100%;
    height: 100%;
}

.hero-text {
    text-align: justify;
    font-size: x-large;
}

.inside-text {
    font-size: medium;
}

.hero-resume {
    padding-bottom: 1rem;
}

.hs-button{
    text-decoration: none;
    background: transparent;
    gap: 0.5rem;
}

.hs-link {
    text-decoration: none;
}

.hero-socials {
    display: flex;
    gap: 1.2rem;
}

.social-links {
    text-decoration: none;
    color: black;
}

/* Mobile View */
@media screen and (max-width: 600px) {
    .hero-container {
        display: flex;
        flex-direction: column;
    }

    .hero-logo {
        width: 18vw;
        height: 10vh;
    }

    .hero-text {
        font-size: small;
    }

    .hs-links {
        text-decoration: none;
        display: inline-block;
    }

    .hs-button {
        text-decoration: none;
        background: transparent;
    }

    .hero-socials{
        gap: 0.5rem;
    }
}