.navbar{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.nv-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.nv-logo{
    display: flex;
    align-items: flex-end;
    gap: 2rem;
}

.logo-img{
    display: flex;
    border-radius: 20px;
    width: 5vw;
    height: 100%;
}

.nv-content{
    display: flex;
    /* border: 2px solid red; */
}

.nv-details{
    display: flex;
    gap: 2vw;
}
.nv-links{
    display: flex;
    text-decoration: none;
    color: black;
    font-size: large;
}

.theme{
    text-decoration: none;
    background-color: transparent;
    border-radius: 20px;
    border: none;
    text-align: center;
}

/* Mobile View */
@media screen and (max-width: 600px) {
    .navbar{
        display: flex;
        flex-direction: column;
    }

    .nv-container{
        width: 90%;
    }

    .logo-img{
        width: 9vw;
    }

    .nv-links{
        font-size: small;
    }
    
}